pipeline/Variable_pipeline_copy1.json
{
	"name": "Variable_pipeline_copy1",
	"properties": {
		"activities": [
			{
				"name": "Set Files",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Files",
					"value": [
						"themes.csv.gz",
						"\ninventory_minifigs.csv.gz",
						"\ninventory_sets.csv.gz"
					]
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('Files')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Lego_Http_ADLS",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"FileName": {
										"value": "item()",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"LoadAllFiles": {
				"type": "bool",
				"defaultValue": false
			}
		},
		"variables": {
			"Files": {
				"type": "Array"
			},
			"ListOfFiles": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2020-09-20T11:44:41Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}